<div class="share-page" style="padding-top: 100px">
  <h3>{{ site.text.share_buttons.text }}</h3>
  <div class="share-links">
    {% if site.share_facebook %}
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.facebook }}"><i class="fa fa-facebook"></i></a>
    {% endif %}

    {% if site.share_twitter %}
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.share_googleplus %}
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.googleplus }}"><i class="fa fa-google-plus"></i></a>
    {% endif %}

    {% if site.share_linkedin %}
      <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.share_digg %}
      <a href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.digg }}"><i class="fa fa-digg"></i></a>
    {% endif %}

    {% if site.share_tumblr %}
      <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.tumblr }}"><i class="fa fa-tumblr"></i></a>
    {% endif %}

    {% if site.share_reddit %}
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.reddit }}"><i class="fa fa-reddit"></i></a>
    {% endif %}

    {% if site.share_stumbleupon %}
      <a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.stumbleupon }}"><i class="fa fa-stumbleupon"></i></a>
    {% endif %}

    {% if site.share_hackernews %}
      <a onclick="parent.postMessage('submit','*')" href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&t={{ page.title }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.hackernews }}"><i class="fa fa-hacker-news"></i></a>
    {% endif %}
  </div>
</div>
