<div class="social-icons">
  <div class="social-icons-right">
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a href="https://bitbucket.org/{{ site.bitbucket_username }}"><i class="fa fa-bitbucket"></i></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.skype_username %}
      <a href="skype:{{ site.skype_username }}?userinfo"><i class="fa fa-skype"></i></a>
    {% endif %}
    {% if site.steam_nickname %}
      <a href="http://steamcommunity.com/id/{{ site.steam_nickname }}"><i class="fa fa-steam-square"></i></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a href="https://plus.google.com/{{ site.google_plus_id }}/posts"><i class="fa fa-google-plus"></i></a>
    {% endif %}
    {% if site.email %}
      <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.angellist_username %}
      <a href="https://angel.co/{{ site.angellist_username }}"><i class="fa fa-angellist"></i></a>
    {% endif %}
    {% if site.medium_id %}
      <a href="https://medium.com/@{{ site.medium_id }}"><i class="fa fa-medium"></i></a>
    {% endif %}
    {% if site.facebook_username %}
      <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-official"></i></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a href="{{ site.bitcoin_url }}"><i class="fa fa-bitcoin"></i></a>
    {% endif %}
    {% if site.paypal_url %}
      <a href="{{ site.paypal_url }}"><i class="fa fa-paypal"></i></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
