.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 2.25rem;
  padding: 0 0 0 0;
  width: 100%;
}

.social-icons i.fa {
  cursor: pointer;
  opacity: 0.6;
  padding: 0.2em;
  font-size: 1.5em;
  color: black;
}

.social-icons i.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}
